@if (!user && !errorMessage) {
  <app-loader></app-loader>
}
@if (!user && errorMessage !== '') {
  <app-error-message [message]="errorMessage"></app-error-message>
}

@if (user) {
  <div class="profile">
    <div class="mobile item-header">
      <p class="title-block">
        <span class="back-button" (click)="goBack()"></span>
        Profile: {{ user.id }}
      </p>
    </div>
    <div class="main-details">
      <span class="name">{{ user.id }}</span>
      <span class="right">{{ user.karma }} ★</span>
      <p class="age">Created {{ user.created }}</p>
    </div>
    @if (user.about) {
      <div class="other-details">
        <p [innerHTML]="user.about"></p>
      </div>
    }
  </div>
}
